<h2>DELETE ACCOUNT</h2>
<br>
<form #empForm=ngForm  class="form-inline my-2 my-lg-0">
<table>
<tr><input class="form-control mr-sm-2" type="number" name="Account ID" [(ngModel)]="id" /></tr> <br>
<tr><input class="btn btn-outline-success my-2 my-sm-0" type="button" value="Delete" (click)="Delete();change()" /></tr>
<br>
</table>
</form>

<table class="table table-striped table table-hover">
        <tr *ngIf="ch">
            <th>phone</th>
            <th>accountHolder</th>
            <th>Balance</th>
        </tr>
        <tr *ngIf="ch">
        <td>{{acc.phone}}</td>
        <td>{{acc.accountHolder}}</td>
        <td>{{acc.balance}}</td>
        </tr>
        <tr *ngIf="ch">Deleted</tr>
</table>
